@font-face {
	 font-family: noto;
	 font-display: swap;
	 src: url("../fonts/noto-sans-500.woff2") format("woff2"), url("../fonts/noto-sans-500.woff") format("woff");
	 font-weight: 400;
	 font-style: normal;
 }
@font-face {
	 font-family: noto;
	 font-display: swap;
	 src: url("../fonts/noto-sans-600.woff2") format("woff2"), url("../fonts/noto-sans-600.woff") format("woff");
	 font-weight: 400;
	 font-style: normal;
 }
@font-face {
	 font-family: noto;
	 font-display: swap;
	 src: url("../fonts/noto-sans-regular.woff2") format("woff2"), url("../fonts/noto-sans-regular.woff") format("woff");
	 font-weight: 400;
	 font-style: normal;
 }
