$black: #3E435D;
$gray: #7C8DB5;
$white: #fff;
$blue: #347AE2;

$xl: 1279.98px;
$lg: 959.98px;
$md: 639.98px;
$sm: 479.98px;

// :root {
//   --cont-this: 1440px;

//   @media(max-width: $xl) {
//     --cont-this: calc(960px - 10px);
//   }

//   @media(max-width: $lg) {
//     --cont-this: calc(720px - 10px);
//   }

//   @media(max-width: $md) {
//     --cont-this: calc(540px - 10px);
//   }

//   @media(max-width: $sm) {
//     --cont-this: 100%;
//   }
// }